@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: hsl(185, 41%, 84%); 
    font-family: 'Space Mono', monospace;
}

main h4{
    color: hsl(183, 100%, 15%);
    letter-spacing: .5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.overall-parent{
    background-color: #fff;
    max-width: 85vw;
    margin: auto;
}

/* For removing the arrows in the input FIREFOX */
input[type=number] {
    -moz-appearance: textfield;
}

/* For removing the arrows in the input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right{
    background-color: hsl(186, 14%, 43%);
}