@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --d-gray-cyan: hsl(186, 14%, 43%);
    --gray-cyan: hsl(184, 14%, 56%);
    --l-gray-cyan: hsl(185, 41%, 84%);
    --vl-gray-cyan: hsl(189, 41%, 97%);
}

html{
    font-size: 10px;
}

body{
    background-color: var(--l-gray-cyan);
    font-family: 'Space Mono', monospace;
}

main h4{
    color: var(--dark-cyan);
    letter-spacing: .5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.overall-parent{
    background-color: #fff;
    max-width: 65vw;
    margin: auto;
    display: flex;
    padding: 1rem 1rem 1rem 1.5rem;
}

.left{
    border: 1px solid red;
    flex-basis: 50%;
    margin-right: 2rem;
}

.bill-div{
    display: flex;
    background-color: var(--vl-gray-cyan);
}

.right{
    background-color: var(--dark-cyan);
    border: 1px solid blue;
    flex-basis: 50%;

}